@{
    Layout = "../shared/_LayoutLogin.cshtml";
}

<div class="container" style="background-color:rgba(239, 239, 239, 0.95); border-radius: 10px; padding: 20px;">
    <h1>Cadastro realizado com sucesso!</h1>
    <h4><a href="..\Usuario\Login">Clique aqui</a> para efetuar login.</h4>
</div>
