@{ 
    ViewData["Title"] = "Menu";
}


<div class="row">
    <a href="../Conta/Index">
        <div class="col-lg-4 text-center btn-default">
            <img style="padding-top:11px" src="~/images/conta.png" width="40%" />
            <h3 style="color:dimgray">Criar Conta</h3>
        </div>
    </a>
    <a href="../PlanoConta/Index">
        <div class="col-lg-4 text-center btn-default">
            <img style="padding-top:11px" src="~/images/planocontas.png" width="40%" />
            <h3 style="color:dimgray">Plano de Contas</h3>
        </div>
    </a>
    <a href="../Transacao/Index">
        <div class="col-lg-4 text-center btn-default">
            <img style="padding-top:11px" src="~/images/registrar_transacao.png" width="40%" />
            <h3 style="color:dimgray">Registrar Transação</h3>
        </div>
    </a>
</div>
<br /><br /><br />
<div class="row">
    <a href="../Transacao/Extrato">
        <div class="col-lg-4 text-center btn-default">
            <img style="padding-top:11px" src="~/images/extrato.png" width="40%" />
            <h3 style="color:dimgray">Extrato</h3>
        </div>
    </a>
    <a href="../Transacao/Dashboard">
        <div class="col-lg-4 text-center btn-default">
            <img style="padding-top:11px" src="~/images/dashboard.png" width="40%" />
            <h3 style="color:dimgray">Dashboard</h3>
        </div>
    </a>
    <a href="../Home/Ajuda">
        <div class="col-lg-4 text-center btn-default">
            <img style="padding-top:11px" src="~/images/ajuda.png" width="40%" />
            <h3 style="color:dimgray">Ajuda</h3>
        </div>
    </a>
</div>